// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-position: inside;
}

main {
  max-width: 100vw;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: $blue-color-link;
}

a:visited {
  color: $blue-color-link;
}

a:hover {
  text-decoration: underline;
  color: $primary;
}

.nav-link:hover {
  text-decoration: underline;
  color: inherit;
}

.image-link:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
strong,
b {
  font-weight: bold;
  color: $primary;
}

p {
  margin-top: 1rem;
}

html {
  background: $white;
}

body {
  @include sans;
  color: $text_color;
}

.wrapper {
  max-width: 50em;
  padding: 0 24px;
  margin: 0 auto;
  zoom: 1;
}

// clearfix (now called group,
// via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

::-moz-selection {
  background: #406098;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #406098;
  color: #fff;
  text-shadow: none;
}
html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

.page-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

// footer styles
.page-footer {
  align-self: end;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
  .footer-line {
    margin: 0;
    font-size: 0.75em;
    color: #999;
  }
}

.footer-border {
  padding-top: 0.5rem;
  border-top: 4px solid #c7c7c7;
}

.padding-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Override bootstrap navbar padding.
.navbar-toggler {
  padding: 1px 6px;
}
