// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-position:inside; 
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #0084cf;
}

a:visited {
  color: #0084cf;
}

a:hover {
  text-decoration: underline;
  color: $primary;
}

.image-link:hover {
  text-decoration: none;
}

h2,
h3,
h4,
strong,
b {
  color: $primary;
}

html {
  background: $white;
}

body {
  @include sans;
  color: $text_color;
  font-size: 1em;
  line-height: 1.5;
}

.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
.wrapper {
  max-width: 728px;
  padding: 0 24px;
  margin: 0 auto;
  zoom: 1;
}

// clearfix (now called group,
// via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

::-moz-selection {
  background: #406098;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #406098;
  color: #fff;
  text-shadow: none;
}
html,
body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.page-container {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

// footer styles
.page-footer {
  align-self: end;
	padding-top: .5rem;
  padding-bottom: 1rem;
	text-align: center;
	.footer-line {
		margin: 0;
		font-size: .75em;
		color: #999;
	}
}