// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #0084cf;
}

a:visited {
  color: #0084cf;
}

a:hover {
  text-decoration: underline;
  color: $primary;
}

.image-link:hover {
  text-decoration: none;
}

h2, h3, h4, strong, b {
  //color: #7500ff;
  //color: #00b7f9;
  color: $primary;
  //  color: #16a085;
}

html {
  background: $white;
}

body{
  @include sans;
  color: $text_color;
  font-size: 1em;
  line-height: 1.5;
}

.wrapper:before,
.wrapper:after { content:""; display:table; }
.wrapper:after { clear: both; }
.wrapper {
  max-width: 728px;
  padding: 0 24px;
  margin: 0 auto;
  zoom: 1;
}

// clearfix (now called group,
// via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

::-moz-selection {
  background: #406098;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #406098;
  color: #fff;
  text-shadow: none;
}
