.post-meta {
  color: $grey-color;
}

.post-list {
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

.post-link {
  font-weight: 600;
  font-size: 24px;
}

pre,
code {
  font-size: 0.9375em;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
  word-wrap: normal;
}

pre {
  padding: 8px 12px;
  overflow-x: visible;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Blockquotes
 */
blockquote {
  margin: 0;
  padding: 0;
  color: $grey-color;
  font-weight: 300;
  border-left: 4px solid $grey-color-light;
  padding-left: 1vw;
  font-size: 1.125em;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

.blog-header {
  // TODO: Start at dynamic height.
  display: block;
}

.animation-contract {
  //animation-name: contract;
  //animation-duration: 1.5s;
  // animation-fill-mode: forwards;
  transform: scale(1);
  margin-bottom: 15vw;
}

.animation-fadein {
  animation: fadein 3s;
  opacity: 0;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.blog-header-text {
  font-weight: 600;
  @include sans;
  position: relative;
  letter-spacing: -0.15rem;
  line-height: 1;
}

#home-link {
  @include sans;
  color: $primary;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 600;
}

@keyframes contract {
  to {
    margin-bottom: 15vw;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.post-list-heading {
  margin-top: 1em;
  margin-bottom: 1em;
}
.post-list h3 {
  margin-bottom: 1em;
}

table {
  margin: 1rem 0;
}
