// Resume styles
// ---------------------------------------/
// util
* {
	color-adjust: exact;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

.section-header {
	@include section_border;
	margin-bottom: 1.5rem;
	color: $secondary;
	h2 {
		@include sans;
		font-weight: 900;
		font-size: 1.75rem;
		letter-spacing: -0.05rem;
		margin: 0;
	}
}

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

#resume-header {
	padding-top: 10vh;
	color: $primary;
}

// page header styles
#contact-me-email {
	background: #e3f5ff;
	color: $primary;
	border-radius: 5px;
	padding-left: 0.5%;
	padding-right: 0.5%;
	font-family: monospace;
	display: inline;
}

.page-break-before {
	page-break-before: always !important;
}

.triangle-svg {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 2;
	height: 15vw;
	margin-bottom: -1px;
	/* set height to pixels if you want angle to change with screen width */
}

.spacer-svg {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 3;
	width: 100%;
	height: 2vw;
	margin-bottom: -1px;
}

.gradient-header {
	display: grid;
	grid-template-columns: 55% auto;
	grid-template-rows: auto auto auto;
	overflow: hidden;
	position: relative;
	color: #406098;
	font-family: sans-serif;
	text-align: left;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	#header-content {
		margin-left: 10vw;
		margin-right: 10vw;
	}
	.header-bold-text {
		@include sans;
		font-size: 3rem;
		position: relative;
		margin-bottom: 1em;
		letter-spacing: -0.15rem;
		line-height: 1;
	}
	p {
		@include sans;
		font-size: 1.5rem;
		margin-top: 0.5em;
	}
	#blurb {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

#top {
	#lottie-animation {
		padding-top: 5vw;
		padding-right: 5vw;
	}
	.header-contact-info {
		@include sans;
		text-align: center;
	}
	.header-contact-info p a {
		color: inherit;
	}
	.title-bar {
		@include section_border;
		margin-top: 2rem;
		padding: 0.4rem 0;
		@include clearfix;
		.header-title {
			@include sans_bold;
			font-weight: 300;
			font-size: 1.75rem;
			line-height: 2rem;
			letter-spacing: -0.05rem;
			text-align: center;
			margin: 0 0 0.5rem;
			@include media_larger_than_mobile {
				float: left;
				margin: 0;
			}
		}
	}
	.executive-summary {
		//margin-top: 5vw;
		@include media_larger_than_mobile {
			font-size: 1.125rem;
		}
	}
}

@include media_mobile {
	.no-mobile {
		display: none !important;
	}
	.gradient-header {
		grid-template-rows: auto auto auto;
		grid-template-columns: auto;
		p {
			font-size: 1.25rem;
		}
		#header-content {
			margin-bottom: 10vw;
		}
		.triangle-svg {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 3;
			grid-row-end: 4;
			height: 15vw;
			margin-bottom: -1px;
			/* set height to pixels if you want angle to change with screen width */
		}

		.spacer-svg {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 4;
			grid-row-end: 4;
			width: 100%;
			height: 2vh;
		}
	}
	#image-container {
		bottom: 0 !important;
	}
	#resume-header {
		margin-bottom: 15vw !important;
	}
}

figcaption {
	text-align: center;
	margin: 1em;
	color: $primary;
}

figure {
	margin-top: 0;
	margin-bottom: 10%;
}

#avatar {
	width: 250px;
	max-width: 100%;
	overflow: hidden;
	@include border-radius(50%);
	margin: auto auto;
	display: block;
	bottom: 3vw;
}

.icon-links {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	top: 4px;
	text-align: center;
	border-top: 2px solid #c7c7c7;
	padding-top: 0.4rem;
	@include media_larger_than_mobile {
		float: right;
		border-top: none;
		padding-top: 0;
	}
	.icon-link-item {
		display: inline-block;
		margin-left: 5px;
	}
	.icon-link {
		display: inline-block;
		&:hover .icon path {
			fill: $black;
			@include transition(all 0.2s ease);
		}
	}
	.icon {
		height: 28px;
	}
}

.contact-button {
	@include border-radius(3px);
	background-color: #efefef;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 1.5rem auto;
	width: 220px;
	font-size: 1.375rem;
	@include sans_light;
	color: $black;
	line-height: 55px;
	@include transition(all 0.2s ease);
	&:hover {
		background-color: $black;
		color: #fff;
	}
	&.not-looking {
		width: 400px;
	}
}

// resume content styles
.content-section {
	@extend .wrapper;
	.resume-item {
		ul {
			list-style: none;
		}
		li {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		margin-bottom: 2rem;
	}
	.resume-item-title {
		@include sans;
		margin: 0 0 0.75rem;
		font-size: 1.5rem;
		letter-spacing: -0.05rem;
		line-height: 1;
	}
	.resume-item-details {
		font-size: 1.125rem;
		margin: 0 0 0.75rem;
		line-height: 1;
		&.award-title {
			font-size: 1rem;
		}
	}
	.resume-item-copy {
		margin: 0.75rem 0 0;
	}
}

.social-icon {
	fill: #c6cbd1;
	margin: 0.5vw;
	height: 24px;
	width: 24px;
}

.social-icon:hover {
	fill: $primary;
}

.print-only {
	display: none !important;
}

.theme-dark {
	$accent-color: #4cd5ff;
	background: $primary;
	color: #dee4e9;
	.section-header {
		color: $accent-color;
	}
	a:link {
		color: $accent-color;
	}
	a:visited {
		color: $accent-color;
	}
    ::selection {
      color: $primary !important;
      background: white !important;
      text-shadow: none;
    }
	h1,
	h2,
	h3,
	h4,
	strong,
	b {
		color: white;
	}
}

#projects {
	background: $secondary;
}

.theme-white {
	background: white;
	color: black;
	a:link {
		color: $blue-color-link;
	}
	a:visited {
		color: $blue-color-link;
	}
	h1,
	h2,
	h3,
	h4,
	strong,
	b {
		color: $primary;
	}
}

.theme-light {
	background: $secondary;
	color: rgb(92, 92, 92);
	.section-header {
		color: #86a0cc;
		color: #759cdd;
	}
	a:link {
		color: $accent;
	}
	a:visited {
		color: $accent;
	}
	h1,
	h2,
	h3,
	h4,
	strong,
	b {
		color: $primary;
	}
}

.r3-c1-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
}

.p-top-5 {
	padding-top: 5vh;
}

@media print {
	.p-top-5 {
		padding-top: 0vh;
	}
	.theme-dark {
		background: white;
		color: black;
		.section-header {
			@include section_border_thin;
		}
		a:link {
			color: $blue-color-link;
		}
		a:visited {
			color: $blue-color-link;
		}
		h1,
		h2,
		h3,
		h4,
		strong,
		b {
			color: $primary;
		}
	}
	#resume-header {
		padding-top: 0in;
	}
	.wrapper {
		max-width: none;
		padding: 0;
	}
	.contact-info {
		margin: 1em !important;
		font-size: 14px !important;
		#contact-url {
			color: $primary !important;
			font-weight: normal;
		}
	}
	#header-content {
		.header-bold-text {
			margin: 0 auto 0 auto !important;
			font-size: 2rem !important;
			font-weight: bold;
		}
	}
	.gradient-header {
		background: none !important;
		display: block !important;
		text-align: center !important;
		text-shadow: none !important;
	}
	@page {
		margin: 0.5in 1in;
	}
	body {
		font-size: 12px !important;
	}
	#top {
		padding-bottom: 0 !important;
	}
	.no-print {
		display: none !important;
	}
	.print-only {
		display: block !important;
	}
	body {
		font-size: 12px;
		line-height: 1rem;
	}
	#blurb {
		p {
			font-size: 18px !important;
			line-height: 18px !important;
		}
	}
	.section-header {
		@include section_border_thin;
		margin-bottom: 1rem !important;
		page-break-inside: avoid;
		h2 {
			font-size: 1.2rem;
			line-height: 1rem;
		}
	}
	.content-section {
		margin-bottom: 1rem !important;
		.resume-item-title {
			font-size: 16px;
			line-height: 0.7em;
		}
		.resume-item {
			margin-bottom: 1rem !important;
		}
		.resume-item-copy {
			//overflow: auto !important;
		}
		.resume-item-details {
			font-size: 12px;
			margin: 0 0 0.5rem;
			line-height: 0.7em;
			&.award-title {
				font-size: 11px;
			}
		}
	}
	// Override bootstrap.
	a:not(.btn) {
		text-decoration: none;
	}
}
