// Resume styles
// ---------------------------------------/

// util

.section-header {
  @include section_border;
  margin-bottom: 1.5rem;
  //color: #FF6148;
  color: #ffa091;
  color: #ffbfb5;
  color: $light-blue;

  h2 {
    @include sans;
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -.05rem;
    margin: 0;
  }
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// page header styles

#contact-me-email {
  background: #e3f5ff;
  color: $navy;
  border-radius: 5px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  font-family: monospace;
  display: inline;
}

#top { padding: 1.5rem 0;
  padding-top: 0;

  #triangle-svg {
    position: absolute;
    bottom: 3vw;
    width: 100%;
    height: 20vw;
    margin-bottom: -1px;
    /* set height to pixels if you want angle to change with screen width */
  }

  #spacer-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vw;
    margin-bottom: -1px;
  }

  #gradient-header {
    overflow: hidden;
    position: relative;
    background-color: $light-blue;
    //background: linear-gradient(135deg, rgba(117,0,255,1) 0%, rgba(0,183,249,1) 56%, rgba(0,252,133,1) 100%);
    //background: #d6e5fa;
    //background: #94d8ff;
    //background: $light-blue;
    color: #406098;
    font-family: sans-serif;
    text-align: left;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);

    #header-content {
      width: 60%;
      margin-top: 10vh;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20vw;
      text-align: center;
    }

    .header-name {
      @include sans;
      font-size: 3rem;
      position: relative;
      margin-top: 1em;
      margin-bottom: 1em;
      letter-spacing: -.15rem;
      line-height: 1;
    }

    p {
      @include sans;
      font-size: 1.5em;
      margin-top: 0.5em;
    }

    #blurb {
      margin-top: 1em;
      margin-bottom: 1em;

    }

    #avatar {
      width: 250px;
      max-width: 100%;
      overflow: hidden;
      @include border-radius(50%);
      margin: auto auto;
      display: block;
      position: relative;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }

  #image-container {
    position: relative;
    bottom: 8vw;
    transform: rotate(-11deg);
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
  }


  .header-image {
    transform: rotate(11deg);
    position: relative;
    width: 12vw;
    margin-left: 3%;
    margin-right: 3%;
  }

  #header-image-5 {
    bottom: 1vw; // This image is narrower, so shift it up a bit.
  }

  @include media_mobile {

    #image-container {
      bottom: 0;
    }

    #header-container {
      margin-bottom: 15vw;

    }

    .header-image {
      width: 50vw;
    }

    #header-image-2 {
      display: none;
    }
    #header-image-3 {
      display: none;
    }
    #header-image-4 {
      display: none;
    }

    #header-image-5 {
      display: none;
    }
  }



  .header-contact-info {
    @include sans;
    text-align: center;
  }
  .header-contact-info p a {
    color: inherit;
  }


  .title-bar {
    @include section_border;
    margin-top: 2rem;
    padding: .4rem 0;
    @include clearfix;

    .header-title {
      @include sans_bold;
      font-weight: 300;
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: -.05rem;
      text-align: center;
      margin: 0 0 .5rem;

      @include media_larger_than_mobile {
        float: left;
        margin: 0;
      }
    }
  }

  .executive-summary {
    @include media_larger_than_mobile { font-size: 1.125rem; }
  }
}

.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 4px;
  text-align: center;
  border-top: 2px solid #c7c7c7;
  padding-top: .4rem;

  @include media_larger_than_mobile {
    float: right;
    border-top: none;
    padding-top: 0;
  }

  .icon-link-item {
    display: inline-block;
    margin-left: 5px;
  }

  .icon-link { display: inline-block;

    &:hover .icon path {
      fill: $black;
      @include transition(all .2s ease);
    }
  }

  .icon {
    height: 28px;
  }
}

.contact-button {
  @include border-radius(3px);
  background-color: #efefef;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 1.5rem auto;
  width: 220px;
  font-size: 1.375rem;
  @include sans_light;
  color: $black;
  line-height: 55px;
  @include transition(all .2s ease);

  &:hover {
    background-color: $black;
    color: #fff;
  }

  &.not-looking { width: 400px; }
}

// resume content styles

.content-section {
  margin: 0 0 3rem;

  .resume-item { margin-bottom: 2rem; }

  .resume-item-title {
    @include sans;
    margin: 0 0 .75rem;
    font-size: 1.5rem;
    letter-spacing: -.05rem;
    line-height: 1;
  }

  .resume-item-details {
    font-size: 1.125rem;
    margin: 0 0 .75rem;
    line-height: 1;

    &.award-title {
      font-size: 1rem;
    }
  }


  .resume-item-copy { margin: .75rem 0 0; }
}

// footer styles

.page-footer {
  border-top: 4px solid #c7c7c7;
  padding-top: .5rem;
  text-align: center;
  margin-bottom: 0rem;

  .footer-line {
    margin: 0;
    font-size: .75em;
    color: #999;
  }
}

.print-only { display: none !important }

@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
  .no-print { display: none !important }
  .print-only { display: block !important }
  body { font-size: 12px; line-height: 1rem; }
  .page-header { padding: 1rem 0 .2rem;
    .header-name {
      @include sans_bold;
      font-size: 2rem;
      margin: 0 0 .2rem;
    }
  }
  .section-header {
    @include section_border_thin;
    margin-bottom: 0.5rem;
    h2 { font-size: 1.2rem; line-height: 1.0rem; }
  }
  .content-section {
    margin: 0 0 1rem;
    .resume-item { margin-bottom: 1rem; }
    .resume-item-title {
      font-size: 16px;
      line-height: .7em;
    }

    .resume-item-details {
      font-size: 12px;
      margin: 0 0 .75rem;
      line-height: .7em;
      font-style:italic;

      &.award-title {
        font-size: 11px;
      }
    }
  }
}
