<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="gradient-header">
        <svg class="triangle-svg" class="no-print" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon fill="white" points="0,100 100,100 100,0"/>
        </svg>
        <svg class="spacer-svg" class="no-print" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon fill="white" points="0,0 0,100 100,100 100,0"/>
        </svg>
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
