---
layout: default
---
<div class="blog-header theme-light">
  <div class="wrapper">
    <nav class="padding-0 navbar navbar-expand-lg navbar-light">
      <h1 class="blog-header-text">Welcome to my blog!</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav">
          <a id="home-link" class="nav-link" href="/">Home</a>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="wrapper">
  {{ content }}
</div>