---
layout: default
---
<header class="post-header theme-light blog-header">
  <div class="wrapper">
    <nav class="padding-0 navbar navbar-expand-lg navbar-light">
      <h1 class="blog-header-text" itemprop="name headline">{{ page.title | escape }}</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav">
          <a id="home-link" class="nav-link" href="/blog">Blog</a>
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="wrapper">
  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    {%- if page.author -%}
    • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
        itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}
  </p>
  {{ content }}
</div>